@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
body {
    /* Full height */
    height: 100%;
    /* Full width */
    width: 100%;
    /* Background image */
    background: url("../images/background.jpg") no-repeat center center fixed;
    /* Center and scale the image nicely */
    background-size: cover;
}

div.jumbotron {
    background-color: black;
    color: white;
    padding: 10px;
}

.headerSpace {
    padding-top: 1rem;
}

#current-dish {
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    color: white;
    padding: 25px;
}

.font {
    font-family: 'Special Elite', cursive;
}

.fa_custom {
    color: darkred;
}

#chalkboard {
    font-family: 'Fredericka the Great', cursive;
    color: white;
}


/* .about {
    background-size: cover;
    height: 100vw;
} */