@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

html,
body {
    /* Full height */
    height: 100%;
    /* Full width */
    width: 100%;
    /* Background image */
    background: url("../images/background.jpg") no-repeat center center fixed;
    /* Center and scale the image nicely */
    background-size: cover;
}

div.right {
    background: url("../images/slate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.row {
    height: 100%
}

div.jumbotron {
    background-color: black;
    color: white;
    padding: 10px;
}

.headerSpace {
    padding-top: 1rem;
}

div.current-dish {
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    color: white;
    padding: 25px;
}

.clear {
    background-color: black;
}

.font {
    font-family: 'Special Elite', cursive;
    color: white;
}

.newFav {
    width: 100%;
    float: left;
    background-color: black;
    margin-bottom: 10px;
    padding: 10px;
}

.button-div {
    background-color: none;
    padding: 10px;
}

.left {
    background-color: darkred;
}

.fa_custom {
    color: darkred;
}

#favoriteRecipe {
    font-family: 'Special Elite', cursive;
    color: white
}

.chalkboard {
    font-family: 'Fredericka the Great', cursive;
    color: white;
    text-align: center;
    float: none;
}

.list {
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.3rem !important;
}

#img-div {
    text-align: center
}


/* .about {
    background-size: cover;
    height: 100vw;
} */